/*=============================================
Display
=============================================*/
.d-block, picture {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}

.d-none,
.d-movil {
    display: none;
}