/*=============================================
Text's
=============================================*/

.fw-bold{font-weight: bold;}
.fw-bolder{}
.fw-normal{font-weight: normal;}
.fw-light{}
.fw-lighter{}
.fst-italic{}
.fst-normal{}
.fw-medium{font-weight: 500;}

.text-center {
    text-align: center
}

.text-start {
    text-align: left
}

.text-end {
    text-align: right
}

.f7 {
    font-size: 7px
}

.f8 {
    font-size: 8px
}

.f9 {
    font-size: 9px
}

.f10 {
    font-size: 10px
}

.f11 {
    font-size: 11px
}

.f12 {
    font-size: 12px
}

.f13 {
    font-size: 13px
}

.f14 {
    font-size: 14px
}

.f15 {
    font-size: 15px
}

.f16 {
    font-size: 16px
}

.f17 {
    font-size: 17px
}

.f18 {
    font-size: 18px
}

.f19 {
    font-size: 19px
}

.f20 {
    font-size: 20px
}

.f21 {
    font-size: 21px
}

.f22 {
    font-size: 22px
}

.f23 {
    font-size: 23px
}

.f24 {
    font-size: 24px
}

.f25 {
    font-size: 25px
}
.f30 {
    font-size: 30px
}
.f35 {
    font-size: 35px
}
.f70 {
    font-size: 70px
}

.line-height-30 {
    line-height: 30px;
}

.line-height-25 {
    line-height: 25px;
}

.line-height-20 {
    line-height: 20px;
}

.line-height-18 {
    line-height: 18px;
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.text-decoration-none {
    text-decoration: none
}