/*=============================================
Wrapper
=============================================*/
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

@media screen and (max-width: 1400px) {
    .container {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media screen and (max-width: 768px) {

    .container,
    .container-fluid {
        padding-left: 1em;
        padding-right: 1em;
    }

    main .container{
        margin: 2em 1em!important;
    }
}